[2017-03-19 10:27] nhandyal opened #1 "Error while parsing xcode project for react-native-maps"
There's an error being raised while fixing [react-native-maps](https://github.com/airbnb/react-native-maps) v0.12.2. I added a little bit of logging to to figure out which file is failing:
`react-native-maps/ios/Pods/Pods.xcodeproj/project.pbxproj`

The version of Node I'm running is v6.3.0

### Steps to reproduce the behavior

1. create new project
[code]
2. replace package.json with
[code]
3. se

[2017-03-22 10:25] blargity commented on #1
Thanks @nhandyal for the great reproduction steps. Helped a lot!

I can verify that I'm able to replicate the issue. It's ultimately an upstream issue in node-xcode, so I lodged an issue there: https://github.com/alunny/node-xcode/issues/127

In the meantime though, we don't actually need to manipulate that particular `.xcodeproj` file to achieve what we want to achieve, so I'll exclude it from th

[2017-03-22 10:42] #1 closed

[2017-03-22 10:45] blargity commented on #1
I've published `v1.0.0-beta.9` which should resolve this issue. Please let me know if you're still having trouble.

[2017-03-23 18:11] corymsmith opened #2 "Configuration names with a space in them causes the fix-libraries script to break all libraries"
### Steps to reproduce the behavior
- Create a configuration named `Staging Release`
- Run the script for this library

### Expected behavior
- You should be able to open the project files for the libraries

### Actual behavior
The project files won't open due to a parsing error. The configuration names need to be wrapped in quotes. They currently show up in the .pbxproj like so:

`name = Staging

[2017-03-23 22:05] #2 closed

[2017-03-30 04:11] gwmccull opened #4 "New scheme is using old code bundle"
I'm in the process of upgrading our app to RN42 and I came across the issue with custom schemes.

The scheme I'm trying to make is called, `Qa`.  If I create a Qa scheme on each of the libraries that I'm importing, the app compiles and runs with all schemes.

If I use react-native-schemes-manager to create the Qa scheme, the Qa scheme is created in each library (as expected), and the app will comp

[2017-03-31 00:27] gwmccull commented on #4
Ok, I figured out the issue a little better.

The Qa scheme that I'm trying to build is actually a clone of the Debug scheme but it requires that the JavaScript code be bundled and packaged into the app.  It doesn't fetch the code from the packager.

The current script, `node_modules/react-native-schemes-manager/lib/react-native-xcode.sh`, assumes that if you're doing a debug scheme, that you'll b

[2017-03-31 01:38] gwmccull opened #7 "Configuration with no Debug schemes causes a failure in react-native-xcode.sh"
### Steps to reproduce the behavior
add a package.json with:
[code]
The leading bar `|` causes an error to be thrown by `react-native-xcode.sh`

### Expected behavior
the export shouldn't have the leading bar `|`

[2017-03-31 01:39] gwmccull commented on #7
fixed in
https://github.com/Thinkmill/react-native-schemes-manager/pull/6/files

[2017-04-01 00:28] gwmccull opened #8 "Command line script fails on CI with a non-standard iOS directory"
### Steps to reproduce the behavior
We run an automated build process using Jenkins when we commit our code.

This process was failing because we keep our Xcode project in a non-standard directory, `iOS`.

I need something to control this behavior.  See #6 where I added a command line arg to allow this to be controlled

### Expected behavior

### Actual behavior

[2017-04-03 08:59] blargity commented on #7
Ah, yeah, that'd do it. Thanks for the fix!

[2017-04-03 09:09] blargity commented on #4
The skipping of debug schemes when building for the simulator was something that came from React Native originally, so I've been avoiding changing that behaviour unless I have a really good reason to in the future.

What I've actually been doing in my projects is let's say there's, a Dev environment, Staging environment and a Live environment. I might actually want to create a debug build for the

[2017-04-03 17:39] gwmccull commented on #4
@blargity Hi, I left a long response on #6 but I wanted to respond here about your roadmap idea.

I like the idea of being able to specify the parameters in the package.json file and then have them available in the code.  One of the big things we use the __DEV__ flag for is to set parameters and API keys.

The documentation would have to be pretty clear about not putting private API keys in a pack

[2017-04-10 19:37] corymsmith opened #10 "Configuration names with spaces causes react-native-xcode.sh to error out."
### Steps to reproduce the behavior
1.) Create a configuration named Staging Debug and add to package.json entry.
2.) Run fix-xcode script and fix-libraries.
3.) Build and run app

### Expected behavior
No errors when running script

### Actual behavior

Receiving error messages like this in the XCode build log and the rest of the script fails so the app doesn't get set up correctly to use the xip

[2017-04-10 19:38] corymsmith commented on #10
I fixed the other issue related to spaces in names with #3 so I think once this ones sorted it should be all good.

[2017-04-12 16:21] gwmccull commented on #8
Fixed in beta 11 #9

[2017-04-12 16:21] #8 closed

[2017-04-12 16:22] gwmccull commented on #7
Fixed in beta 11 #9

[2017-04-12 16:22] #7 closed

[2017-04-12 16:23] gwmccull commented on #4
Some of this was fixed in #9 and some was decided not to do

[2017-04-12 16:23] #4 closed

[2017-05-15 07:37] blargity commented on #10
Thanks @corymsmith, I'll go ahead and close this issue.

[2017-05-15 07:37] #10 closed

[2017-06-03 11:54] AlanFoster opened #11 "Production releases contain dev javascript bundles"
### Steps to reproduce the behavior

Build a production version of the react-native application, and output the value of `__DEV__`

### Expected behavior

The value of `__DEV__` is set to false, and all dev tools are removed - i.e. prop type warnings etc.

### Actual behavior

The value of `__DEV__` is set to true, even though it is a production build.

### Reason

The current dynamic case stateme

[2017-06-06 07:45] blargity commented on #11
Well spotted, thank you!

[2017-06-06 07:48] blargity commented on #11
This was resolved in #12, and released in `v1.0.0-beta.12`.

[2017-06-06 07:48] #11 closed

[2017-06-23 15:27] JasonMore opened #14 "add in --sourcemap-output ?"
Any chance at adding in sourcemap into the build?

[code]

I'm not sure if there are any implications for having it on all the time. Any thoughts?

[2017-06-29 16:08] richardgillzdev opened #15 "Cannot read property 'Symbol(Symbol.iterator)' of undefined during react-native-schemes-manager all"
I've been trying to use the `react-native-schemes-manager all` with my `xcodeSchemes` set to
[code]
I'm running `node 7.10.0` but keep getting the error
[code]

Any thoughts you have would be appreciated

[2017-06-29 16:52] kylealwyn commented on #15
Encountering this issue this morning as well, seemingly out of nowhere

[2017-06-29 16:56] kylealwyn commented on #15
Found my issue. Removed `Debug` key in package.json xcodeSchemes as it was causing some build issues but it seems to be required. You may want to try adding a `Release` key with an empty array as the value.

[2017-07-04 13:38] ywongweb opened #16 "Wrong scheme when running from CLI"
First of all, thank you so much for this amazing library, it's a life saver!

### Steps to reproduce the behavior
Run the project on the command line. `react-native run-ios --scheme beta`

### Expected behavior
Should run project using beta scheme

### Actual behavior
Always runs the original Debug scheme

### Additional notes
Running via XCode works fine

[2017-07-05 03:11] ywongweb commented on #16
Seems like a problem with React Native itself.
https://github.com/facebook/react-native/issues/10102

[2017-07-05 03:11] #16 closed

[2017-07-05 03:19] blargity commented on #14
I think the main thing I'd want to do is mirror whatever the Debug scheme does with the copied schemes. Does the Debug scheme generate sourcemaps? I haven't tested thoroughly, but from memory I tried to just get the schemes that were Debug that weren't named `Debug` to be treated as if they were for the rest of the RN build process.

That's a lot of words and context for: Sure I'd be happy to if t

[2017-07-05 03:20] blargity commented on #15
Yeah, the Debug scheme is definitely required as we copy its configuration all over the place. We should probably have a better error message for this though.

[2017-07-05 20:54] JasonMore commented on #14
Sure that makes sense. I don't think it does by default. No worries thanks for the thoughts.

[2017-07-05 20:54] #14 closed

[2017-07-12 18:14] corymsmith commented on #1
I'm getting the exact same issue with the project file from `react-native-fbsdk`

[2017-07-14 04:14] blargity commented on #15
I tried in quite a few ways to get this to happen on a starter project today and couldn't replicate. @kylealwyn or @richardgillzdev, could either of you do up a repro case so I can fix this properly?

[2017-08-01 15:57] ghost opened #21 "Not skipping the bundle step on Debug configuration"
### Steps to reproduce the behavior

We installed react-native-schemes-manager by following this [tutorial](https://medium.com/@ywongcode/building-multiple-versions-of-a-react-native-app-4361252ddde5) . When we build a Debug configuration, the react native packager is running steps that should be only for Release configuration like bundling the JS in one file, therefore making the build longer.

I

[2017-08-10 07:57] blargity commented on #21
Thanks for letting us know! Is there any chance you could have a look at what environment variables are getting passed into the script?

In particular, the values of `$CONFIGURATION` and `$DEVELOPMENT_BUILD_CONFIGURATIONS` would help.

That script is a direct copy of the Facebook version with a tiny change to expand on how it figures out that you're running in Debug or not, which it sounds like is

[2017-08-19 18:54] AlmogRnD opened #22 "zsh: command not found: react-native-schemes-manager"
Getting the following error when running via terminal

zsh: command not found: react-native-schemes-manager

[2017-08-21 08:39] mamaz commented on #22
I encountered this as well:

[code]

[2017-08-21 22:49] blargity commented on #22
It looks like this is something around how `npm` / `yarn` run scripts, paths, and such. Do other `package.json` scripts work for you when they reference scripts that are installed in your `node_modules` folder? For example if `babel-cli` works then this should work too.

This might be relevant: https://stackoverflow.com/questions/36106817/unable-to-run-babel-via-npm-script-babel-command-not-found

[2017-08-21 23:18] AlmogRnD commented on #22
Yes all other packages do work

[2017-08-22 04:03] mamaz commented on #22
It turns out to be my fault, NODE_ENV is set to production in my case, so devDependencies is not installed.

[2017-09-08 18:41] sneerin commented on #21
For me, debug is also not working

[2017-09-08 21:09] sneerin commented on #21
how does xcode pass the DEV arg to react?

[2017-09-09 19:12] sneerin commented on #21
I checked the schemas in react project, in the node modules, they are correct https://www.dropbox.com/s/yall3mq7o0luty9/Screenshot%202017-09-09%2022.11.50.png?dl=0

[2017-09-19 13:08] andreyslyusar opened #23 "Error! RangeError: Maximum call stack size exceeded"
```$ react-native-schemes-manager all``` failed ``` ⃠ [fix-script]: Error! RangeError: Maximum call stack size exceeded```
[code]

It seems project schemes config correctly, but what can be a source of the issue?

[2017-09-22 11:56] D1no commented on #21
Also would like to check in. Dynamic links are one of the large building blocks missing. Especially since Dynamic Links got recently quite a lot more integration for attribution measurements. http://firebase.googleblog.com/2017/09/whats-new-with-firebase-dynamic-links.html

[2017-10-05 23:10] blargity commented on #23
That's really odd. Any chance you could make a reproduction case so I can dig deeper into the issue?

[2017-10-05 23:11] blargity commented on #22
That'd make sense. @AlmogRnD are you still experiencing the issue?

[2017-10-05 23:14] blargity commented on #21
I'll see if I can reproduce this the next time I've got a chance to dig into this project. We've changed the if statement for the command a few times now and I'm not 100% convinced that it's correct in all cases yet, so a reproduction case would probably help.

XCode passes some environment variables to this script: https://github.com/Thinkmill/react-native-schemes-manager/blob/master/lib/react-na

[2017-10-06 06:50] AlmogRnD commented on #22
@blargity I removed the package, couldn't use it because of this issue

[2017-10-06 08:58] andreyslyusar commented on #23
I somehow manage to fix the mistake and cannot reproduce it anymore. Should we close an issue in this case and reopen in case it is reproducible?

[2017-10-16 18:59] fangpenlin opened #25 "React Native doesn't use index.ios.js as the entry point anymore"
### Steps to reproduce the behavior

For iOS React Native app, change the entry point file from `index.ios.js` to `index.js`.

### Expected behavior

The build script should be able to find `index.js` when `index.ios.js` doesn't exist.

### Actual behavior

When the scrip is ran, no entry file is found

[code]

Since React Native 0.49

https://github.com/facebook/react-native/releases/tag/v0.49.0

[2017-10-19 02:35] blargity commented on #22
Fair enough. I haven't been able to replicate the issue, but I'll leave it open until we can with high confidence say that it's not related to the package or it isn't happening anymore.

[2017-10-19 02:45] blargity commented on #25
I suspect this will get resolved when #24 is merged.

[2017-10-23 23:39] blargity commented on #25
@fangpenlin this should be resolved in 1.0.1. If that's not the case please open a new issue, but I'm pretty sure it is. Thanks for letting us know!

[2017-10-23 23:39] #25 closed

[2017-11-01 21:35] RobertSheaO commented on #1
@corymsmith and everyone else having this issue. I wrote a Medium article about how to resolve this issue.

https://medium.com/@RobertSheaO/linking-react-native-fbsdk-f043ac133fc0

[2017-11-08 04:23] adamtysonsmith commented on #15
I had this error and assumed it was trying to iterate through the `Release` array that I removed.  I added it back in and everything ran fine:
[code]

[2017-11-08 10:39] andpor opened #26 "critical npm install issue"
npm install
[code]

[2017-11-08 10:47] andpor commented on #26
Could this line with packageJson be causing the issue?

[code]

[2017-11-19 16:33] apolishch opened #27 "duplicate symbol in npm package"
I have followed the instructions given in the documentation.

`react-native run-ios` still works fine
`react-native run-ios  --configuration Release` still works fine,
`react-native run-ios  --configuration Staging` throws an exception. It is not the same exception it threw before I tried to use this project, instead it prints:

`duplicate symbol _OBJC_METACLASS_$_RCTNavigatorManager in:
    /path

[2017-11-19 18:05] apolishch commented on #27
deleting ios/build fixes this.

[2017-11-19 18:05] #27 closed

[2017-12-11 04:33] blargity commented on #26
Howdy,

Looks like you're running on a fairly old version of node which we don't support. Could you try upgrading to a more recent version of node (current version is 8+)?

Here's another issue on another project that should help you do that: https://github.com/JeffreyWay/laravel-mix/issues/264

I'm going to assume that that'll resolve your problem (as it really should) but if you're still having

[2017-12-11 04:33] #26 closed

[2017-12-11 04:33] blargity commented on #23
Yeah, I think that's the best course of action here. Thanks for reporting it so we have a record that it was a problem.

[2017-12-11 04:33] #23 closed

[2017-12-11 04:34] blargity commented on #22
I'll go ahead and close this issue. If it happens to someone else we can reopen.

[2017-12-11 04:34] #22 closed

[2017-12-13 15:16] rplankenhorn opened #28 "react-native-scheme-manager post install script modifies getDevToolsMiddleware.js"
### Steps to reproduce the behavior
I am seeing this behavior with react-native 0.50.0 and up react-native.  When I run my post install script:
{
"postinstall": "react-native-schemes-manager fix-libraries && react-native-schemes-manager fix-script",
}
node_modules/react-native/local-cli/server/middleware/getDevToolsMiddleware.js gets modified with possibly an invalid patch that breaks the build.
#

[2017-12-13 16:51] rplankenhorn commented on #28
This ended up being a problem with rndebugger-open.  Closing.

[2017-12-13 16:51] #28 closed

[2017-12-29 14:15] henrikra opened #30 "Script overrides React Native Run script"
When you run `react-native-schemes-manager all` it will override `Bundle React Native code and images`. But the problem is that if I have something custom there for example `export DISABLE_XIP=true` it will override that also.

![image](https://user-images.githubusercontent.com/12229968/34438972-53febca8-ecb3-11e7-9feb-ec3bba15667d.png)

So the solution would be that it does not just replace the w

[2018-01-09 23:28] stantoncbradley opened #32 "[fix-script]: Error! RangeError: Maximum call stack size exceeded"
### Steps to reproduce the behavior
upgrade to react-native 0.51

### Expected behavior
script still works
### Actual behavior
[fix-script]: Error! RangeError: Maximum call stack size exceeded
can't launch xcode project (xcode quits)
[code]

[2018-01-10 01:30] stantoncbradley commented on #32
due to a botched upgrade. Accepted wrong merge conflict changes in project.pbx. Tried again accepting the other changes and it worked fine.  thanks for the great lib!

[2018-01-10 01:31] #32 closed

[2018-01-16 23:53] calhouncole opened #33 "Postinstall completes, but it has no effect"
### Steps to reproduce the behavior
I have 3 different Schemes with the associated Build Configurations:
Production: Release, Debug
Sandbox: Sandbox Release, Sandbox Debug
Dev: Dev Release, Dev Debug

Added the following to my package.json:
[code]

When running `npm install`, the postinstall script runs fine and produces the following:

[code]

### Expected behavior
Running my app in Xcode with ei

[2018-01-24 23:39] deecewan opened #34 "Incorrectly trying to determine the IP"
There seems to be a problem with `eval`ing the code [here](https://github.com/blargity/react-native-schemes-manager/blob/master/lib/react-native-xcode.sh#L103). One of my colleagues had his WiFi set up on `en1`, so the first line there was not returning.
The fallback using `ifconfig` does not work because the awk parameters are tried to resolved in the original context (the `'` escape the code fro

[2018-02-14 09:17] fryossi commented on #21
I'm facing the same error.
In my case the scheme name and the configuration name are not identical.
`$DEVELOPMENT_BUILD_CONFIGURATIONS` contains a list of scheme names and `$CONFIGURATION` is the actual configuration name.
switching the scheme name with the configuration name in `$DEVELOPMENT_BUILD_CONFIGURATIONS` fix this.

react-native: 0.52.0
react: 16.2.0
react-native-schemes-manager: 1.0.1

[2018-02-28 03:40] sbycrosz opened #35 "Release build crashes on RN 0.49+"
Awesome work on the library!

### Steps to reproduce the behavior
- RN49+
- Setup as usual

### Expected behavior
Release build should not crash

### Actual behavior
Release build crashes on launch

[React Native 0.49](https://github.com/facebook/react-native/releases/tag/v0.49.0) changes the JS entry point of RN App
So we have single `index.js` instead of separate `index.android.js` and `index.io

[2018-02-28 04:16] sbycrosz commented on #35
nvm I'm using the older version of the library for some weird reasons

[2018-02-28 04:16] #35 closed

[2018-03-04 21:08] n1ru4l opened #36 "Support also fixing the cocoapods generated project.pbxproj"
### Steps to reproduce the behavior

Install you cocoapod dependencies, which generates the file `ios/Pods/Pods.xcodeproj/project.pbxproj` (because you add React and other dependencies via cocoapods).

Run `react-native-schemes-manager all`.

### Expected behavior

The `ios/Pods/Pods.xcodeproj/project.pbxproj` project file is also fixed and should have the right preprocessor macro variables.

###

[2018-03-04 22:32] n1ru4l commented on #36
I fixes this by adding the following to my Podfile:

[code]

I am closing this because I think this is **out of scope** for this project.

[2018-03-04 22:32] #36 closed

[2018-03-12 18:34] kevinsperrine opened #37 "fix-script fails if no debug configuration given"
### Steps to reproduce the behavior
Install plugin, but do not enter any Debug entries in package.json

[code]

### Expected behavior
fix-scripts to run successfully. This can be fixed by passing an empty array into debug.

[code]

### Actual behavior

[code]

[2018-03-13 00:30] tmaly1980 commented on #34
I noticed this too and have this fixed in https://github.com/blargity/react-native-schemes-manager/pull/38

But someone needs to merge the pull request.

[2018-04-01 03:11] blargity commented on #37
The thing about this is you don't actually need React Native Schemes Manager for release schemes as far as I'm aware. I'm happy to accept PRs to fix this, but that's why I haven't gone very deep in supporting this scenario.

[2018-04-02 13:42] gtchance opened #40 "Failed to install version 1.0.2"
### Steps to reproduce the behavior
Set version to 1.0.2, run npm install

### Expected behavior
react-native-schemes-manager installs to node_modules

### Actual behavior
Fails with error:
[code]

[2018-04-03 07:27] adebree commented on #40
Adding an empty 'settings' object to xcodeSchemes in package.json fixes the failure as well as downgrading to 1.0.1

[2018-04-03 07:34] henrikra commented on #40
@tylerhou Can you fix this?

[2018-04-03 07:35] henrikra commented on #34
@deecewan This PR is now merged. Can you try the new version if you still have this problem?

[2018-04-03 11:11] blargity commented on #40
This should now be resolved in v1.0.3. I'll close this but definitely feel free to lodge a new issue if it's still happening.

[2018-04-03 11:11] #40 closed

[2018-04-03 11:12] blargity commented on #33
@calhouncole We've introduced some fixes in v1.0.2 and v1.0.3 that'll probably help here. Can you update to the latest version and let me know how you go?

[2018-04-03 11:13] blargity commented on #15
Does anyone know if this is still happening in v1.0.3?

[2018-04-03 23:41] jacobbodkin opened #42 "Trying to debug on ios device, CONFIGURATION is always Release"
Just as the title says, I am trying to create a debug build on a physical device, however no matter what, $CONFIGURATION always is Release

Edit: Now that I double checked, it is always release when building on the simulator as well.

### Steps to reproduce the behavior
1) Create several Debug configurations
2) Try to run on ios device

### Expected behavior
Be able to have the app run in dev mode

[2018-04-04 04:37] Thunderbird7 commented on #37
Tried remove `yarn.lock` and run `yarn` again.

[2018-04-04 13:35] paintedbicycle commented on #42
I can also confirm that `if (__DEV__) {}` no longer works in my app.

[2018-04-04 13:42] paintedbicycle commented on #42
I can also confirm that PR# https://github.com/blargity/react-native-schemes-manager/pull/43 fixes it

[2018-04-04 13:51] jacobbodkin commented on #42
@paintedbicycle, after testing #43, I am still getting $CONFIGURATION = Release

[2018-04-04 13:55] paintedbicycle commented on #42
Where are you defining that? Xcode Build shell script?

For me, https://github.com/blargity/react-native-schemes-manager/pull/43 fixed using (_DEV_) inside my projects JS. I haven't tested $CONFIGURATION

[2018-04-04 15:00] paintedbicycle commented on #42
When I echo ${CONFIGURATION} from inside Xcode build step, I correctly see "App Store" for my app.

[2018-04-04 17:25] jacobbodkin commented on #42
I went through and deleted all of my configs (except debug and release) and recreated. Now I am getting the correct $CONFIGURATION.

Thanks for showing me #43 @paintedbicycle, it worked!

[2018-04-04 17:25] #42 closed

[2018-04-09 12:00] blargity commented on #34
I'll go ahead and close this issue as I believe it's resolved. If I'm wrong, apologies in advance and please feel free to open a new one.

[2018-04-09 12:00] #34 closed

[2018-04-09 12:01] blargity commented on #33
I believe this has likely been fixed. I'll close this issue for now, but if I'm wrong and it's still around, please don't hesitate to open a new one!

[2018-04-09 12:01] #33 closed

[2018-04-09 12:01] blargity commented on #21
@fryossi has this been fixed in the latest versions?

[2018-04-09 12:02] blargity commented on #15
Thanks @orelmax, next time I'm doing React Native stuff I'll have a look, or if someone wants to make a PR in the meantime that'd be very much appreciated!

[2018-04-09 12:25] fryossi commented on #21
@blargity I didn't try the new version. I've changed the scheme name to be as same as the configuration name so everything works fine.

[2018-04-12 07:57] gavin-gmlab opened #44 "ld: 843 duplicate symbols for architecture x86_64 error"
I'm cracking my head over getting schemes to work on my project. I use Cocoapods for some libraries and regular npm install for others.

My pod file:
target 'project' do
    pod 'RSKImageCropper'
    pod 'QBImagePickerController'
    pod 'Fabric'
    pod 'Crashlytics'

    target 'projectTests' do
      inherit! :search_paths
      # Pods for testing
    end
end

My xcodeSchemes:
  "xcodeSchemes":

[2018-04-12 08:15] blargity commented on #44
What happens if you remove `react-native-schemes-manager` by following [these steps](https://github.com/blargity/react-native-schemes-manager#uninstalling)?

Basically that looks like a linker error, which indicates a problem in getting all your libraries in and is likely not related to your schemes directly, and would be unrelated to this library, but I've seen Xcode do weird things, so would def

[2018-04-16 04:08] gavin-gmlab commented on #44
Reverting back to the pre-schemes setup always works. I've tried this so many times to get it to work. It's either duplicates or not found...

[2018-04-16 07:16] blargity commented on #44
Any chance you could give me a repro project so I can play around on my side and see if I can figure it out?

[2018-04-16 08:46] gavin-gmlab commented on #44
Hmm, that would be a bit hard @blargity Quite a lot of stuff to strip out

[2018-04-16 13:10] blargity commented on #44
Alrighty, in that case I'm afraid there's not much I can do to help. It's very unlikely that this is being caused by the library because mostly what it does is copy existing build configs around in the projects in your `node_modules` directory, but I'd be happy to be shown wrong, just need to see some code that causes it.

Have you tried removing schemes manager but leaving the schemes themselves

[2018-04-17 03:08] gavin-gmlab commented on #44
Appreciate your offer to help @blargity. Understand this library is just activated at post install. The problem definitely has something to do with the paths within Xcode, but I'm not a Xcode expert. The default Debug scheme works, but the others do not.

I found that this link https://stackoverflow.com/questions/39626055/created-new-xcode-configuration-and-scheme-linker-is-suddenly-failing helped

[2018-04-20 19:00] akriger commented on #21
@blargity I am running into this issue with my build as well. I have one scheme with a debug, beta, and release configuration. When running the debug configuration via command line(react-native run-ios --configuration Debug) I get the following error when the app launches:

error: bundling failed: NotFoundError: Cannot find entry file index.js in any of the roots: ["/Users/akriger/Repos/WESConnect

[2018-05-18 09:44] gavin-gmlab commented on #44
A little update: Found out that just by changing the configuration in a working scheme from release to say Staging will already cause the build to fail..... Have yet to figure this out.

[2018-05-25 04:06] gavin-gmlab commented on #44
I now have a stripped out version of the project where the default debug and release configs work, but all other configs/schemes don't, if anyone is still able to help troubleshoot.

[2018-06-03 11:48] SanyasiraoM opened #47 "Link error /Build/Products/Debug-iphonesimulator file not found"
### Steps to reproduce the behavior
Just followed the steps at given article
https://medium.com/@ywongcode/building-multiple-versions-of-a-react-native-app-4361252ddde5

Selected Beta Scheme and tried to build

### Expected behavior
Build should be successful and app should be installed in simulator

### Actual behavior

Getting below error

[code]

[2018-06-07 04:36] gavin-gmlab commented on #44
Managed to resolve the problem.

Steps taken:
1. Reconstruct the project from scratch
2. Include react-native-schemes-manager in the process.
3. In custom schemes, ensure that the React build target is present in Edit Scheme->build. It was not always there. If not, add it by clicking on the + and moving the React target above your project target.

[2018-06-07 04:36] #44 closed

[2018-06-13 14:01] blargity commented on #44
I'm glad to hear you were able to solve it, sorry I wasn't more help!

[2018-07-04 15:13] anje89 commented on #47
I had the same issue (and followed the same tutorial).
For now I solved it as follows:

found in this [stackoverflow answer](https://stackoverflow.com/a/30506351/3320678)
1. select your project's Test target
2. select Build Settings
3. Search for "Test Host"
4. You should see all your configurations listed there
5. Rename the <APP_NAME> parts in the paths to match the names you gave in the tutoria

[2018-07-05 04:44] SanyasiraoM commented on #47
@anje89 Thank you. I will try that.

[2018-07-13 00:02] pauwlsky commented on #47
I also had this issue @anje89 your fix has worked for now. Thanks for posting

[2018-07-13 04:20] #47 closed

[2018-08-06 03:31] blargity commented on #21
In that case I'll go ahead and close this issue. If anyone's still experiencing this, a reproduction case would help heaps!

[2018-08-06 03:31] #21 closed

[2018-08-11 13:12] lc3t35 commented on #37
+1, maybe just indicate in README that Debug: [] should be at least added in xcodeSchemes
[code]

[2018-09-12 19:33] sfratini opened #48 "Lexical or Preprocessor issue"
### Steps to reproduce the behavior

This is my package config (We use Sentry so I had to do this):

[code]

I have created two configurations for a customer that are a copy of Debug and Release. Then one scheme pointing to those configs. If I try to run the regular projects all runs fine, but the new one fails as if the package it is not doing what it is supposed to.

I am running the postinstall

[2018-09-12 21:29] sfratini commented on #48
Well, a little update. At first it was failing because when I duplicated the Scheme, some settings were wrong.

I had to go into that scheme, build setting and do two things: add React before my project and also disable the parallel building.

It it building however it shows this error, which I am not sure if this means it is working or not:

[code]

[2018-09-16 20:48] hasanen commented on #37
Got the same error `TypeError: mappings[sourceBuildConfig] is not iterable`and @lc3t35 suggestion to add empty array for ´Debug` fixed it.

[2018-09-20 15:01] moin-fountain opened #49 "Archiving a config named something other than 'Release' e.g. 'Release-Staging'"
Is it possible to archive a config other than Release? I've been stuck for days now trying to do this. I can run and build any config fine, and I can archive Release, but can't archive anything else. I get this error: https://github.com/facebook/react-native/issues/11813

I tried all the troubleshooting steps of this package, plus all of the suggestions in that thread but they don't seem to work.

[2018-10-20 18:05] kevinEsherick commented on #37
Happened to me as well and the above fix worked. I can submit a PR to make a note in the README if you'd like, I think that would be enough to close this.

[2018-11-28 16:52] GlisboaDev opened #50 "Crash iOS - No bundle url present"
### Steps to reproduce the behavior
-Updated our non-expo react native project from 0.57.3 to 0.57.5
-installed `react-native-firebase` and `react-native-splash-screen` libraries (among others, but these seems to be related)
### Expected behavior
-Running the application from Xcode will pickup the bundler / start it and properly start the application
### Actual behavior
-running the application vi

[2018-12-04 10:21] thekevinbrown commented on #50
It'd be great to see if there's an updated version of `react-native-xcode.sh` in that version of react native. Can you diff the two files and see if you can spot the difference(s)? They should be minimal and just around detecting what a debug build is for the packager.

[2018-12-04 10:53] moin-fountain commented on #49
@thekevinbrown Thanks for your response. I think maybe my original question wasn't clear. I'm not trying to archive the Debug config or anything that looks like it, I'm trying to archive a config that looks like Release, but isn't actually named Release e.g. 'Release-Staging'. I would have thought this was possible, but I can't get it to work, so was wondering if it actually is possible to do.

[2018-12-04 13:52] thekevinbrown commented on #49
Gotcha. In that case it's still the same answer. It should work based on my understanding of how XCode interacts with React Native and the packager, but I still don't have a project to play with personally.

[2018-12-05 05:16] kevinEsherick commented on #49
I just successfully archived a non-"Release" build, uploaded it to iTunes Connect, and am now using via TestFlight. I can't say I did anything specifically to make it work other than make sure the config was set up with each dependency—I was getting an error at first because this hadn't happened for one package. I ran the command npm run postinstall to make sure of this.

[2018-12-13 02:22] GioLogist opened #51 "Mono Repo Support"
Currently, we're working with a mono repo, using workspaces, along with a few other tools. None of which directly relate to the issue.

A common step after running yarn, is for us to go ahead and change header search paths in certain dependencies, from

`${SRCROOT}/../../../ios/Pods/Headers/Public`
to
`${SRCROOT}/../../../mobile/ios/Pods/Headers/Public`

### Steps to reproduce the behavior
Change

[2018-12-14 09:18] GioLogist opened #52 "Expected [\n\r] but end of input found"
Quite an odd issue, but it seems that this package gives an error for any `project.pbxproj` which doesn't have a new line at the end of the file.

### Steps to reproduce the behavior

- Remove the new line from the end of any related project.pbxproj file
- Run react-native-schemes-manager

### Expected behavior
Runs ok

### Actual behavior
Receives error:
```Expected [\n\r] but end of input found`

[2018-12-14 09:19] GioLogist commented on #51
My issue actually wasn't related to mono repos at all, but rather #52

[2018-12-14 09:19] #51 closed

[2018-12-19 03:18] MIyulong opened #54 "Doesn't work for debug mode"
it's my package.json, i run 'yarn install' and get successful,  but i still not able to work in debug model with my react-native project
![image](https://user-images.githubusercontent.com/8175565/50196714-37003080-037f-11e9-9024-65aa33ab47bb.png)
![image](https://user-images.githubusercontent.com/8175565/50196834-c1e12b00-037f-11e9-8373-0287b425ec8d.png)
![image](https://user-images.githubusercont

[2019-01-03 18:50] sdg9 commented on #50
@thekevinbrown @GlisboaDev in [this commit](https://github.com/facebook/react-native/commit/63a6bb7637b165f21bdddd2ebe818756dc8f4888#diff-f1a28d5a04c65bf04339b2fd16a6f56fR87) local-cli is removed but it's still referenced in this project
https://github.com/thekevinbrown/react-native-schemes-manager/blob/6e0f375cb4137a923d47788c8abe876e2d266f3f/lib/react-native-xcode.sh#L85

[2019-01-08 01:02] thekevinbrown commented on #50
That's interesting. Would it be possible to send a copy of your project or a minimal repro case so I can try to figure out what's going on?

[2019-01-08 01:03] thekevinbrown commented on #49
That's great. In that case I'll go ahead and close this issue, sounds like it would be a good idea to document the error in the readme and recommend a fix if you can figure out what it was at any point. I'd be happy to accept a PR for that.

[2019-01-08 01:03] #49 closed

[2019-01-08 17:58] kevinEsherick commented on #49
There's no real fix. Just making sure the configuration gets set up with each dependency via postinstall, as one is supposed to do. So I think with proper use this is default behavior. I think for some reason I had the impression that postinstall was supposed to automatically run after installing new dependencies. As long as you make sure to run postinstall after installing a new dependency it'll

[2019-01-09 16:03] moin-fountain commented on #49
I think I just need to go back and do some more playing around, and get it to work. It's good to know that it's possible. I think this can be closed, and I don't think it is worth a PR.

[2019-01-20 23:51] thekevinbrown commented on #54
Hi @MIyulong,

I'm unable to reproduce on my side, so I'll go ahead and close this issue for now. If you can provide a reproduction case please open a new issue and I'd be happy to have a look at what's going on.

[2019-01-20 23:52] #54 closed

[2019-02-01 11:41] markusekblad opened #55 "Make it optional to skip 'Pods.xcodeproj'?"
I'm wondering about this part in the utilities.js

[code]

In my project I have a dependency on https://github.com/tlenclos/react-native-audio-streaming which has a Pods.xcodeproj which also needs to have my staging configurations copied.

If I remove the section above from utilities.js everything works for me, so I'm wondering if perhaps there could be an option when running the script whether to

[2019-02-02 05:45] thekevinbrown commented on #55
When I built the library, the xcode package would throw an exception while trying to parse that particular `pbxproj` file. It doesn't hurt to have the script run through all of your project files, I just didn't want to swallow errors about not being able to parse entire files and pretend it worked, so this was the best workaround for then. If the latest versions of the package don't do that, then

[2019-02-02 11:42] Bill-Niz opened #56 "library not found for -lBVLinearGradient"
Hi,
when build or archive i get this error:

_library not found for -lBVLinearGradient_

 ### Info

React Native Environment Info:
    System:
      OS: macOS 10.14.2
      CPU: x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 47.29 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.15.1 - /usr/local/bin/node
      Yarn: 1.9.4 - /usr/local/bin/yarn
      npm: 6.4.1 - /

[2019-02-04 23:02] synackal opened #57 "It would be nice to be able to pass parameters to react-native-xcode.sh"
### Steps to reproduce the behavior
`react-native-xcode.sh` in the `react` package allows for the passing of parameters, e.g., path to index.js for ENTRY_FILE.
### Expected behavior
Developer should be able to specify parameters.
### Actual behavior
No option available.

[2019-02-08 10:29] mlostekk opened #58 "hide-library-schemes has no effect"
Environment
Xcode 10.1
Node v8.15.0 (via NVM 0.33.5)
macOS Mojave
10.14.2 (18C54)

### Steps to reproduce the behavior
run `react-native-schemes-manager hide-library-schemes`
see output

### Expected behavior
run `react-native-schemes-manager hide-library-schemes`
see less library schemes

### Actual behavior
![bildschirmfoto 2019-02-08 um 11 27 46](https://user-images.githubusercontent.com/105343

[2019-02-13 15:15] export-mike commented on #22
Happened to me 👍 it had NODE_ENV set to production for that current bash session. Hope your well! @thekevinbrown :)

[2019-02-13 18:59] mlostekk opened #59 "is this repo still maintained ..."
... or is it dead?

[2019-02-15 05:16] thekevinbrown commented on #22
I'm great, hope you're well too @export-mike!

[2019-02-15 05:18] thekevinbrown commented on #58
If you watch the changes to the project files, they should still be made. Usually XCode won't actually update visually until you close it and re-open it.

So try these steps and let me know if it solves your problem:

1. Completely quit XCode
2. Run the `all` command
3. Open the project in XCode again

If that doesn't help, please provide the terminal output of running the `all` command so I can h

[2019-02-15 05:18] thekevinbrown commented on #59
This repo is still maintained, but I'm not in here every day. If you've got a specific question other than the one I've responded to just let me know.

[2019-02-15 05:18] #59 closed

[2019-02-15 05:19] thekevinbrown commented on #57
I'm not particularly familiar with how this works, as I haven't used it before. In the vanilla version, do you edit the script step in XCode to accomplish this, or? Could you provide me with an example of what you're trying to accomplish?

[2019-02-15 05:20] thekevinbrown commented on #50
Since I can't reproduce this, I'll have to close the issue as there's not much I can do to help. If there's a way I can contribute more productively please open a new issue and let me know.

[2019-02-15 05:20] #50 closed

[2019-02-15 05:21] thekevinbrown commented on #37
@kevinEsherick that'd be great.

[2019-02-15 17:55] synackal commented on #57
Yep, I edit the script step. If you check out the `react-native-xcode.sh` or your variant it will allow for the entry file parameter:

`
if [[ -s "index.ios.js" ]]; then
  ENTRY_FILE=${1:-index.ios.js}
else
  ENTRY_FILE=${1:-index.js}
fi
`

So the build phase step could look like this:
`
export DEVELOPMENT_BUILD_CONFIGURATIONS="+(Debug)"
export NODE_BINARY=node
../node_modules/react-native-schemes

[2019-02-27 05:13] thekevinbrown commented on #58
I'll go ahead and assume this resolved the issue for you. If not, please let me know, happy to help!

[2019-02-27 05:37] thekevinbrown commented on #57
@synackal, correct me if I'm wrong, but isn't that use case already catered for in the `settings` part of the config in `package.json`?

[2019-02-27 09:08] mlostekk commented on #58
Well, it does not have any effect on my side. Tried everything from deleting derivedata folders, to clearing caches, to full git clone of the project. I will try to reproduce it on a small / fresh project and post the link to the repo

[2019-02-27 14:35] taybell opened #61 "library not found for -lDoubleConversion clang: error: linker command failed"
I am trying to set up a development environment and have created a new configuration and scheme called "DebugDev" that is getting a linker command failed error. My original "Debug" scheme is still building fine.

I have noticed during the build process that in my derived data folder, the library .a files get copied correctly to the "DebugDev-iphonesimulator" folder but the directories incorrectly

[2019-02-27 15:51] taybell commented on #61
Closing issue. Turns out all I had to do was run `pod install` in my ios project.

I then ran into an issue with my TestTarget but this solution worked for me: https://github.com/thekevinbrown/react-native-schemes-manager/issues/47#issuecomment-402506533

[2019-02-27 15:51] #61 closed

[2019-02-27 18:24] synackal commented on #57
And you mean to pass 'nodeCommand' with a path to your existing script with the extra parameter in that settings object? Or is there an easier way? Heh, part of this request is exploratory because I wasn't sure if it was already covered by your current functionality and whether that would be the best way to handle it, i.e., isn't fragile across versions.

[2019-02-27 23:23] thekevinbrown commented on #57
I'm talking about the stuff under the `env` key:

[code]

Does that do what you need?

If not, can you give me an example of what you're trying to achieve in terms of your project (not the steps to get there)?

[2019-02-28 16:14] taybell opened #62 "Can't open developer menu with new scheme"
I am able to build and run my new scheme using react-native-schemes-manager, but I am not able to open up the react native debug menu using command + D or reloading using command + R.

I was wondering if it was because I am using cocoapods, but using [this solution](https://stackoverflow.com/questions/37031192/react-native-reload-and-dev-tools-do-not-work/37054085#37054085) did not solve my issue.

[2019-02-28 21:59] synackal commented on #57
Ah, yea, that will work. Thanks!

[2019-02-28 23:38] thekevinbrown commented on #62
Have you tried running `react-native-schemes-manager all` manually to see if that fixes it?

Also, which version are you using? If it's the beta it's entirely possible that it's a bug's fault.

Other than that it's just about going through XCode and making sure the changes are applied. If the above aren't helpful, any chance that you could create a reproduction case and send it through so I can ha

[2019-03-01 01:43] winseyli opened #63 "linker command failed with exit code 1 --- directory not found for option '.....[configuration_name]_iphonesimulator/xxx'"
### Steps to reproduce the behavior

First thank you for your work on this nice library.

My package.json has added the following:
[code]

After editing the package.json I duplicated the configuration `Debug` and `Release` on my Xcode workspace. I also duplicated the scheme, pointed it to `StagingDebug` and made sure it is with build options `Parallelize Build` unchecked, and `React` is on the top

[2019-03-01 01:54] taybell commented on #62
Running manually worked! Thanks so much. I had followed the instructions to remove the node modules and run `yarn` when having trouble, so I didn't think to run it manually. Thanks for the great repo! Don't know how I would have setup a prod and dev environment without it.

[2019-03-01 01:54] #62 closed

[2019-03-01 02:46] taybell commented on #62
Update: After switching schemes, I have to close xcode and the simulator, run `react-native-schemes-manager all` manually and then debug tools and reloading works on the selected scheme. Debug tools and reloading will no longer work on my other scheme until quitting xcode/simulator and running manually again.

Don't know if that is expected behavior, but thought I'd share. Thanks again for the hel

[2019-03-01 02:50] taybell commented on #62
Oh and I'm on version 1.0.5

[2019-03-01 09:39] winseyli commented on #63
Oh I solved the problem by running `pod install` after comment out `pod 'react-native-config', :path => '../node_modules/react-native-config'`

If I run `pod install` without comment the line, I got `'GeneratedDotEnv.m' file not found`. Hope this can help someone who have the same problem.

[2019-03-01 09:39] #63 closed

[2019-03-06 02:26] thekevinbrown commented on #62
This is what's happening:

- There are a bunch of XCode related files in your `node_modules`.
- This is a script that when it runs, reads those files and applies your settings to them.
- It's set up with a `postinstall` hook so that for most situations it runs when changes are made that necessitate running again.
- If XCode is open it may or may not see those changes.

I'm not sure exactly what se

[2019-03-08 17:13] synackal commented on #57
I don't think it will do what I need because

[code]

[2019-03-08 17:27] synackal commented on #57
I do not think either of our suggestions will work:

(1) Modify/Add the node command within the settings option
(2) Modify/Add the ENV values within the settings option

The reason why (1) doesn't work is because that modification doesn't replace the existing invocation of your `react-native-xcode.sh` call it just pre-pends whatever you pass into it; `fix-script.js:32`. I need to pass a parameter

[2019-03-14 22:28] Juliocbr opened #65 "directory not found for option '.../Beta.Debug-iphonesimulator/DoubleConversion' (cocoapods)"
I have installed cocoapods in my project because of some dependencies that I use. I installed the plugin and configure my debug and release schemas.

When I run  *react-native run-ios --configuration Beta.Debug*, appears these errors:
[code]

This is my Podfile:

[code]

I don't know if it is necessary to add some other configuration in xcode to avoid these errors. Thanks

[2019-03-14 23:13] thekevinbrown commented on #65
That looks completely unrelated to this library to me. If you remove it following the steps in the readme (including `rm -rf`ing `node_modules` then `npm i` again) and run your build again, do the same errors appear?

[2019-03-14 23:16] thekevinbrown commented on #57
Ah, I got what you're tying to do now.

The best way to do it would be to have a configuration option in `package.json`, perhaps `packageRoot` or `bundlingRoot` or something similar, then have the `fix script` action apply this for you if it's there, and output what it currently does if it's not. That should be a pretty easy PR to create I reckon.

[2019-03-18 15:18] DanFlor opened #66 "Javascript Heap Error on modules with circular links"
The react native schemes manager chokes loops out of control when it encounters circular symlinks within a node module.

### Steps to reproduce the behavior
Install a node module with a circular link, such as react-native-http, which contains the obvious circular link:
```react-native-http/example/get/node_modules/http-browserify/example/streaming/node_modules/http-browserify -> ../../.. ```

Run

[2019-04-02 08:20] DavidStummer opened #69 "Pulling wrong package from npm"
### Steps to reproduce the behavior
yarn add react-native-schemes-manager:
<img width="393" alt="Screenshot 2019-04-02 at 08 30 42" src="https://user-images.githubusercontent.com/4497624/55386969-7fa3ba00-5528-11e9-9ff1-29b93c17da1b.png">

### Expected behavior
yarn to pull the latest code from github repo

### Actual behavior
yarn pulls from a different, outdated repo, as demonstrated in the pack

[2019-04-03 00:03] thekevinbrown commented on #69
I've just published v2.0.0 with the new git repo URL in the package.json file which should resolve this issue for you. Please let me know if you have any further trouble with this!

[2019-04-03 00:03] #69 closed

[2019-04-03 08:04] DavidStummer commented on #69
Thanks, great project!

[2019-04-30 13:11] evanjmg opened #72 "Does this work for different targets?"
### Steps to reproduce the behavior
Seems like when I duplicate a target (different app store for a whitelabel) it still wants to go debug even though its a release on the archive.
### Expected behavior
It should be release on archive - my architectures are correct in the build settings
### Actual behavior
Debug instead of release

[2019-04-30 13:18] evanjmg commented on #72
Seems I misunderstood the package.json - the mapping works fine as long as you have xcodeSchemes: { [Scheme]: [Config, Config] }

[2019-04-30 15:30] evanjmg commented on #72
I was mistaken - seems it's only Debug / Release? Can someone explain this to me? I copied my target which was working and now the new copied target keeps doing the above

[2019-05-01 07:08] thekevinbrown commented on #72
Happy to explain. This package does a few things (and only those things):

- It replaces the shell script that actually kicks off the react native packager so that it can correctly tell the packager whether it's a debug or release build. The stock version says the only debug configuration is called "Debug". This might be the cause of what you're seeing.
- It runs a script which goes through your `

[2019-05-01 07:09] thekevinbrown commented on #65
I'm going to go ahead and close this issue as we haven't heard back. If you are still confident this is an issue with this library, please make sure to let us know by opening a new issue and mentioning that this is the same problem as you experienced in this issue.

[2019-05-01 07:09] #65 closed

[2019-05-01 07:44] evanjmg commented on #72
Will it update the build phases steps and dependencies of different targets as long as they are referenced by the schemes specified in the Xcode scheme? I don’t see it updating my other targets besides the main RN one.  E.g if I have multiple targets in the same workspace (all build RN - different code signing).

[2019-05-17 17:47] martintreurnicht commented on #50
This is still a very real issue, we've managed to find the solution for this after waisting many hours so i'll post our findings here in case anyone runs into this again.

This seems to actually be a limitation with cocoapods. When it copies your configurations over, it doesn't know if they were duplicated from release or debug so it ends up not setting any of the debug flags on these configuratio

[2019-06-25 00:37] thekevinbrown commented on #72
The code that goes through the build steps is here:
https://github.com/thekevinbrown/react-native-schemes-manager/blob/master/src/fix-script.js

So yes, the script swapper should go through every build step of `project.hash.project.objects.PBXShellScriptBuildPhase` and check if there's the string `react-native-xcode.sh` in it. If you've got multiple targets and it's not doing this for all targets,

[2019-07-22 18:06] xeroxoid opened #76 "After upgrading to react-native 0.60.x schemes other than production (default) do not work."
### Steps to reproduce the behavior

1. Upgrade to react-native 0.60.x
2. Adapt code & configuration of packages to conform with auto-linking, etc.
3. Run the ios version of the app using a configured scheme

### Expected behavior

The app should install and run with the defines scheme

### Actual behavior

When using cli (i.e. `react-native run-ios --scheme \"TheSampleApp-Development\" --configur

[2019-07-23 00:29] thekevinbrown commented on #76
I suspect we'll need to release a new version to support 0.60.x.

My suspicion is that the react-native-xcode.sh script has changed compared to the one we bundle, and that's likely the best place to start looking.

Here's theirs:
https://github.com/facebook/react-native/blob/master/scripts/react-native-xcode.sh
Here's ours:
https://github.com/thekevinbrown/react-native-schemes-manager/blob/master/

[2019-07-23 00:30] thekevinbrown commented on #76
Also please have a go with this branch to see if it solves your problem: https://github.com/thekevinbrown/react-native-schemes-manager/pull/74

[2019-07-23 16:11] xeroxoid commented on #76
I tried with both the PR branch and with master which now seems to have the PR as well as other changes merged but it still doesn't work. I still get the same error i.e. the app cannot see the bundle after launching.

[2019-07-23 19:08] hstorz commented on #76
I can confirm, I have the same problem: default scheme works and on the other schemes I get a black screen. Tried with current master.

[2019-07-30 09:34] ninjz commented on #76
@thekevinbrown Any ideas how we can go about supporting the latest changes from 0.60.4?

[2019-08-01 01:45] thekevinbrown commented on #76
@ninjz, I don't have a project on v60 yet, so I'm not sure what exactly is broken.

I'd be happy to accept a pull request and release a new major version to support v60 if someone else has time to debug this.

[2019-08-01 07:38] kg-currenxie commented on #58
Same here. No effect. Closed Xcode before runnnig.
RN 59.10

[2019-08-01 07:42] thekevinbrown commented on #58
@kg-currenxie or @mlostekk are either of you able to provide a reproduction case? I can't replicate this.

[2019-08-01 07:45] kg-currenxie commented on #58
I'll try this weekend :)

[2019-08-02 19:15] richeterre commented on #58
@kg-currenxie I'd be curious to hear about your findings, because I'm seeing the same issue – the command has no effect whatsoever for me.

[2019-08-03 16:25] kg-currenxie commented on #58
Here's my test repo: https://github.com/kg-currenxie/schemas-test-react-native
1. `yarn`
2. `react-native-link`
3. Check XCode, all schemas visible
4. `yarn run fix-code` (runs `react-native-schemes-manager hide-library-schemes`)
5. Schemas still visible

Note; I'm using custom schemas, and not a default RN-project one (`Debug`).
![Screenshot 2019-08-04 at 00 24 30](https://user-images.githubuserc

[2019-08-07 17:46] doomsower commented on #76
I've tried to debug this. [here](https://github.com/doomsower/rnsm-60-repro) is the minimal reproduction repo. I initialized a project from scratch with 0.59, added `react-native-schemes-manager` and checked that custom debug scheme works. Then I tried the same steps with 0.60, one commit per step.

Custom debug scheme doesn't work. Tracked it down to this [line](https://github.com/facebook/react-

[2019-08-11 06:50] doomsower commented on #76
I managed to fix debug config too. RN0.60 uses cocoapods to build the project, and in cocoapods you have to [explicitly](https://guides.cocoapods.org/syntax/podfile.html#project) specify if your custom build configuration is based on debug configuration. So I had to add the following line to my repro project linked in previous post:

[code]

and then reinstall pods. And it worked.

[2019-08-12 22:46] marcferna commented on #58
Do the schemes you want to change end in `.xcscheme_^#shared#^_`?

[2019-08-13 22:58] bericp1 commented on #76
Today `react-native` `0.60.5` dropped but it doesn't seem to include [that PR for fixing custom release scheme](https://github.com/facebook/react-native/pull/25751). I had to manually make the changes in that PR to my project.

When I made the change @doomsower recommended, **I was able to build and run release builds and debug builds with custom schemes and build configurations without installing

[2019-08-13 23:24] bericp1 commented on #76
I tried installing this library to see what would happen and it fails on `react-native` `0.60.5` and I'm not 100% sure why.

Steps:

1.  On a base RN 0.60.5 install, create custom build configuration(s), create custom scheme(s), and assign the configurations to the schemes appropriately
    -   I created the following schemes: `MyAppDev`, `MyAppStaging`
    -   I created the following Debug duplic

[2019-08-14 20:11] hans0low commented on #76
@bericp1 Did you have to do anything else for the duplicated debug schemes? When trying to build it runs into an error with the Tests target:
`file not found: .../Build/Products/SchemeName-iphonesimulator/MyProject.app/MyProject`

[2019-08-14 20:33] rajivshah3 commented on #15
Looks like it's still occurring on the latest version (2.0.0). I can take a closer look and hopefully make a PR to fix it

[2019-08-14 20:49] salvariable commented on #76
@bericp1 you said you made the change @doomsower recommended... did you mean editing as well the Test file he referred to? (the one in react-native) ... or did you just edit the Podfile?

[2019-08-14 20:56] bericp1 commented on #76
@salvariable –

Yep to get it to work with `0.60.5`, all I had to do was:

1.  Create my build configurations and schemes in XCode
2.  Not install this library
3.  Manually apply the changes [in this diff](https://github.com/facebook/react-native/pull/25751/files)
4.  Add a `project` call with my scheme/configuration mappings to the top-level of my `ios/Podfile`.
5.  Run `cd ios && pod install &&

[2019-08-14 21:34] rajivshah3 commented on #66
Was just about to open an issue for this 😄

We're running into the same issue with the same library (`react-native-http`). Patching it as shown in #67 fixed the issue

[2019-08-15 10:31] thekevinbrown commented on #76
@bericp, are you able to bring up the debug menu in schemes that aren't called, "Debug"?

You could use schemes with React Native before 0.60, but debugging produced a release build in them.

If you can bring up the debug menu in your custom schemes, then there is no need for this library.

[2019-08-15 11:10] influx6 commented on #76
@thekevinbrown I followed @bericp1 except for applying this `Manually apply the changes in this diff`, I am able to bring up debug menu in other configurations apart from debug.

[2019-08-15 11:17] thekevinbrown commented on #76
@influx6, awesome, in that case we don't need this library for 60. The other things it does are window dressing, as the main reason I created it was for debugging other schemes.

I'd be happy to merge a PR to update the Readme to say so.

[2019-08-16 13:28] TylerNRobertson commented on #76
@bericp1  regarding 0.60.5 . I made my react native project changes but am stuck at this issue:

[code]

any idea how to fix? Everything was working perfectly before 0.60.5

[2019-08-16 13:54] bericp1 commented on #76
@TylerNRobertson --

Per the convo here, if you're on or upgrade to `0.60.5` and you make the changes in your `ios/Podfile` described above, this library is likely not necessary anymore (can't really speak to non-cocoapods dependencies at this point, all of our deps right now have a podspec). So if you upgrade, you should uninstall `react-native-schemes-manager` which is where that error is coming

[2019-08-16 16:33] TylerNRobertson commented on #76
@bericp1 thanks for the response. Had everything correct except for not including this project anymore.

Works great now!

[2019-08-21 13:56] basbase commented on #76
I have set up my project with schemes manager the same way as I did as before RN 0.60.5, but with these changes to get it working:

[code]

And the podfile addition mentioned by @bericp1 :
[code]

This way it satisfies both the pods and the non-pods dependencies

[2019-09-16 12:21] perlo27 commented on #66
Or just remove "example" folder from react-native-http

[2019-10-10 09:37] ofiron01 commented on #76
This solved our issue , thanks!

[2019-10-22 17:08] romk1n commented on #76
@ofiron01 i have tried the same and it stills failing for me any other hints on how to debug it, also what version of the manager i should be using ?

[2019-10-24 16:13] xeroxoid commented on #76
Closing as this issue has been mitigated by removing the package and using the appropriate CocoaPods configuration instead, as described by various solutions above.

[2019-10-24 16:13] #76 closed

[2019-11-01 10:41] luisfmsouza opened #79 "Version 2.0.0 changelog"
Hey,

I'm just curious to find the version 2 changelog. I have an outdated version (1.0.5) of the package being used on my repo, and I would like to upgrade, but I couldn't find the changelog. Is there any place where I can find it?

[2019-11-27 09:37] harunsmrkovic opened #80 "hide-library-schemes breaks Sentry CLI"
### Steps to reproduce the behavior

Have this as "Bundle React native code and images" script in your React-Native build phases:
[code]

### Expected behavior

Release should be created in the appropriate Sentry project, with `main.jsbundle` and `main.jsbundle.map` files uploaded.

### Actual behavior

Release is not created, and no files are ever uploaded.

### Notes

So, I was moving stuff arou

[2019-12-11 01:55] thekevinbrown commented on #80
Yeah, the library schemes step just cleans up the menu in Xcode, there are no functional changes to the app or the build, it's just marking the schemes as hidden in the project files in `node_modules` so they don't clutter up the menu in Xcode.

I'm curious though why that'd fix and/or break it. Does Sentry rely on a particular scheme being visible that we're hiding or something?

[2020-01-09 02:50] kg-currenxie commented on #58
The project got on-hold, and recently picked up.
Now using RN 0.61.x and suddenly it works fine. Not sure why 🤷‍♂ but the it's not an issue for me anymore :)

[2020-02-26 06:37] kg-currenxie commented on #76
This worked for me. Thanks!!!

[2020-03-11 13:31] strdr4605 opened #82 "Using this package for Whitelabel project?!"
I am working on a Whitelabel project with planned 50+ apps. Creating new targets/schemes is a lot of manual work. So I am looking to automate this.

Reading:

I don't fully understand the purpose of this package and how it can help with my problem.

This is why I am asking:
**Will this package help me to reduce my manual work on creating new apps every other week??**

[2020-04-30 09:12] khalilTN opened #84 "Removing package and using custom xcode schemes after upgrade to RN0.60+"
Hi,

I have this schemes configured in my package.json

[code]

When removing this package after migrating to RN0.60+, i created this scheme config in Podfile

[code]

Is this correct ?
Thank you

[2020-04-30 13:22] thekevinbrown commented on #84
Looks correct to me!

[2020-04-30 13:23] thekevinbrown commented on #82
No, it won't.

The purpose of this project was to enable React Native to show the debugging menu when using a scheme that wasn't called "Debug". That required a lot of reading through xcode files and tweaking things before React Native 0.60, but is now no longer required.

[2020-04-30 13:25] #82 closed

[2020-04-30 14:10] khalilTN commented on #84
Thanks a lot !

[2020-04-30 14:10] #84 closed

[2020-05-24 16:56] bibyzan commented on #47
I had this issue after renaming the display name for my iOS app. Didn't think that should break the tests but my issue was fixed after renaming the test host configurations to my new display name.

[2020-05-31 01:27] Krypternite opened #85 "Support for inline Node Arguments while building a bundle."
### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

[2020-06-01 02:08] thekevinbrown commented on #85
I'm not sure what this means, can you please fill out the issue template?

[2020-06-01 04:53] Krypternite commented on #85
Sorry I wasn't sure if you'd see this. I have filled in the details for the issue. Please check if this is a possiblity.

Thanks.

[2020-06-01 04:58] thekevinbrown commented on #85
That makes a lot more sense, thanks!

What version of React Native are you using?

[2020-06-01 05:19] Krypternite commented on #85
0.62

[2020-06-08 04:41] Krypternite commented on #85
@thekevinbrown any updates on this ? Would you like me to create a PR for this ?

[2020-06-09 05:37] thekevinbrown commented on #85
In general with React Native 60+ you shouldn't even need this library. I'd suggest trying to migrate off of it and see if you can do multiple debug schemes with the stock React Native setup. (You should be able to).

[2020-07-01 09:47] Abirami-Selvanathan opened #86 "Current version of Yargs has vulnerable dependency"
CVE-2020-7608 (NVD) - Medium level vulnerability

React native schemes manager are still using yargs 13.2.1, which internally uses yargs-parser vulnerable version which was mentioned in CVE-2020-7608.

Are we gonna update yargs version in the upcoming release?

[2020-07-14 09:41] jon-nona commented on #80
@thekevinbrown I see @matt-oakes seemed to find the issue and why that causes it [here](https://github.com/getsentry/sentry-react-native/issues/473#issuecomment-440752460)

[2020-08-27 04:07] renatobenks commented on #76
it's working for me as well 🏆

thank you so much for that @bericp1, you solved it for gooood! 🙏🏻 🎉

[2020-12-07 18:49] ShubhamSharma-iOS commented on #50
Been working on this issue for around 3 days, nothing worked. This saved my rest of the days. Thanks for the help.

[2021-04-27 06:22] davidepalazzo commented on #50
For anyone stumbling across this issue @martintreurnicht's solution works and should be added to the docs.

[2021-06-03 15:19] sorodrigo opened #93 "New NPM release"
Can we have a new release? NPM is outdated compared to master.

[2021-09-20 13:50] thekevinbrown commented on #76
@jack-ayoka would you be willing to make a PR for the readme?

[2021-12-15 10:01] pierpo commented on #80
I just faced the same issue. My workaround is similar to yours, but more radical. I am bypassing the whole execution of react-native-schemes-manager xcode script.

[code]

I did it with a simple hack: I added a `#` at the end of the package.json. Which comments out the part that is inserted by react-native-schemes-manager.

[code]

**But there is a way more important issue with this custom Xcode s

[2021-12-15 23:31] thekevinbrown commented on #80
When this package was built, React Native did not handle schemes correctly. The script was copy / paste with modifications to enable schemes to work.

In versions of React native >0.6.0, this package is no longer needed at all.

[2021-12-16 09:54] pierpo commented on #80
Very interesting. Thank you!

Shouldn't we document this on the README? 😊

[2021-12-17 03:26] thekevinbrown commented on #80
Sure, just haven't had time myself. PRs are welcome.

[2022-03-22 07:20] sangameshsomawar commented on #76
Thank you sooo much, Really Appreciate it 😄.